{
    "presets": [["env", { "modules": true }]],
    "plugins": [
        [
            "babel-plugin-transform-react-jsx",
            {
                "pragma": "h"
            }
        ],
        [
            "babel-plugin-jsx-pragmatic",
            {
                "module": "forsteri/pragma",
                "import": "h"
            }
        ]
    ]
}
